<div class="container color-dark">
    <div class="col">
        <p>Agregar videogames</p>
    </div>
    <div class="col">
        <p>Videogames agregados: ({{ itemCount }})</p>
    </div>
</div>

<div class="container color-light" [@goals]="goals.length">
    <div class="col">
        <p class="sm">Use este formulario para agregar objetos a la API</p>
        <form>
            <input type="text" class="txt" name="item" placeholder="Nombre..." [(ngModel)] = "goalText">
            <input type="text" class="txt" name="itemDeveloper" placeholder="Desarrollador..." [(ngModel)] = "goalDeveloper">
            <input type="text" class="txt" name="itemGamesystem" placeholder="Gamesystem..." [(ngModel)] = "goalGamesystem">
            <input type="text" class="txt" name="itemGenre" placeholder="Genero..." [(ngModel)] = "goalGenre">
            <input type="text" class="txt" name="itemYear" placeholder="Año..." [(ngModel)] = "goalYear">
            <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
        </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let goal of goals; let i = index"(click)="removeItem(goal.id)">
        {{ goal.name}} 
        </p>
    </div>
</div>
